@import url("base.css");
:root { --accent: #ff0080; }
.app > .item:hover, #main::before {
  color: var(--accent) !important;
  margin: 0 auto 1.5em calc(100% - 2px);
  font-family: "Inter", sans-serif;
}
@media (max-width: 600px) { .app { display: none; } }
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
